[toolchain]
anchor_version = "0.31.0"
package_manager = "pnpm"

[features]
resolution = true
skip-lint = false

[programs.localnet]
anchor_escrow = "22222222222222222222222222222222222222222222"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "pnpm ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
